<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model with Page Factories" thread-count="3" parallel="classes">

	
	


	<test name="Sign in Test">
		<classes>
      <class name="com.parallel.tests.HomePageTest"/>
		</classes>
	</test> <!-- Test -->

	<test name="Flight Search Test">
		<classes>
      <class name="com.parallel.tests.HomePageTest1"/>
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
